{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>confirmation</title>
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" >
</head>
<body>
    {% if error == False %}
    <div class="alert alert-success" role="alert">
        Your message has been sent to me. Thank you!
       <h3>go to <a href="">home</a> page!</h3> 
    </div>
    {% else %}
    <div class="alert alert-danger" role="alert">
        Your message not has been sent to me. fuck you!
    </div>
    {% endif %}

</body>
</html>